<AuthorizeView Policy="Admin">
    <a class="login-link" href="/AdminApproval">Admin</a>
</AuthorizeView>
<AuthorizeView>
    <Authorized>
        <a class="login-link" href="/Profile">Profile</a>
        <a class="login-link" href="MIcrosoftIdentity/Account/SignOut">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a class="login-link" href="MIcrosoftIdentity/Account/SignIn">Login</a>
    </NotAuthorized>
</AuthorizeView>