<AuthorizeView Policy="Admin">
    <a href="/AdminAprofal">Admin</a>
</AuthorizeView>
<AuthorizeView>
    <Authorized>
        <a href="/Profile">Profile</a>
        <a href="MIcrosoftIdentity/Account/SignOut">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="MIcrosoftIdentity/Account/SignIn">Login</a>
    </NotAuthorized>
</AuthorizeView>